body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding-top: 15px; */
    background: url("../images/bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    overflow: auto;
  }